* {
	margin-top : 0 ;
	margin-bottom : 0 ;
	font-weight : "黑体" ;
}
p:nth-child(3) {
	text-align : center ;
	margin : 10px 0 20px 0 ;
}
div {
	display : inline-block ;
}
label {
	display : block ;
	height : 30px ;
	line-height : 30px ;
	
}
	label>div {
		cursor : pointer ;
	}
	label:hover>div{
		display : inline-block ;
	}
	.title>.del {
		display : none ;
	}
.add, .del {
		height : 24px ;
		width : 16px ;
		line-height : 26px ;
		text-align : center ;
		font-weight : bold ;
		font-size : 14px ;
		margin : 0 3px ;
	}
	.add {
		font-size : 20px ;
		margin-left :30px ;
	}
ul {
	list-style : none ;
}
fieldset {
	width : 600px ;
	margin : 30px auto ;
	padding : 20px ;
	-webkit-user-select : none ;
	-moz-user-select : none ;
	-ms-user-select : none ;
	user-select : none ;
}
legend {
	color : blue ;
	font-size : 30px ;
	margin-left : 30px ;
}
		
	.triangle {
		margin-right : 5px ;
	}
	.triangle-right {
		width : 0 ;
		height : 0 ;
		border-left : 12px solid red ;
		border-top : 6px solid transparent ;
		border-bottom : 6px solid transparent ;
	}
	.triangle-bottom {
		width : 0 ;
		height : 0 ;
		border-top : 12px solid red ;
		border-left : 6px solid transparent ;
		border-right : 6px solid transparent ;
	}
	
		